*{
    padding: 0;
    margin: 0;
}

.btn-sync{
    padding: 40px;
    width: 50%;
    display: block;
    margin: 20% auto;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #344554;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 3px #999999;
    outline: none;
}